.global-nav-list {
    padding: 0;
}

.global-nav-link {
    display: inline-block;
    list-style-type: none;
    padding-right: 5px;
}

.site-header {
    background-color: rgb(226, 170, 226);
}

.site-main {
    background-color: rgb(166, 85, 233);
}

.site-footer {
    background-color: rgb(73, 120, 206);
}